@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-image: url('/image/bacco.jpg');
    background-attachment: fixed;
    background-size: contain;
}

h1 {
    text-align: center;
    color: greenyellow;
    margin-top: 5%;
}

h1:hover {
    text-shadow: 2px 2px 5px #0f0;
}

.container {
    height: 330px;
    width: 330px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: olivedrab;
}

.container:hover {
    background: yellow;
    outline: 5px solid green;
    outline-offset: 5px;
}

.container::before {
    content: "";
    height: 320px;
    width: 320px;
    background: grey;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pre-container {
    height: 265px;
    width: 265px;
    background: #fff;
    border: 3px solid purple;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pre-container:hover {
    background-color: yellow;
    outline: 3px solid green;
    outline-offset: 3px;
}

.centernut {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: olivedrab;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid yellow;
    z-index: 4;
}

.indicator {
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 2px;
    background: purple;
}

.indicator div:nth-child(1) {
    transform: rotate(30deg) translateY(-113px);
}

.indicator div:nth-child(2) {
    transform: rotate(60deg) translateY(-113px);
}

.indicator div:nth-child(3) {
    transform: rotate(90deg) rotateZ(-90deg) translateY(-10px) translateX(100px);
    background: #0f0;
}

.indicator div:nth-child(4) {
    transform: rotate(120deg) translateY(-113px);
}

.indicator div:nth-child(5) {
    transform: rotate(150deg) translateY(-113px);
}

.indicator div:nth-child(6) {
    transform: rotate(180deg) rotateZ(180deg) translateY(100px) translateX(-5px);
    background: #0f0;
}

.indicator div:nth-child(7) {
    transform: rotate(210deg) translateY(-113px);
}

.indicator div:nth-child(8) {
    transform: rotate(240deg) translateY(-113px);
}

.indicator div:nth-child(9) {
    transform: rotate(270deg) rotateZ(90deg) translateX(-110px) translateY(-10px);
    background: #0f0;
}

.indicator div:nth-child(10) {
    transform: rotate(300deg) translateY(-113px);
}

.indicator div:nth-child(11) {
    transform: rotate(330deg) translateY(-113px);
}

.indicator div:nth-child(12) {
    transform: rotate(360deg) translateY(-113px);
    background: #0f0;
}

.sec-hand,
.min-hand,
.hour-hand {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sec-hand::before,
.min-hand::before,
.hour-hand::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 3px;
    height: 115px;
    background: #be41e1;
    border-radius: 30px;
}

.sec-hand::before {
    width: 2px;
    background: #0f0;
    border-radius: 30px;
}

.min-hand::before {
    height: 100px;
    background: #D6D6D6;
    width: 4px;
}

.hour-hand::before {
    width: 6px;
    height: 65px;
    background: #848484;
}

.sec-hand {
    z-index: 3;
}

.min-hand {
    z-index: 2;
}

.hour-hand {
    z-index: 1;
}